#header
{
	margin:0px auto;
	padding:0px;
	 width:998px;
	height:108px;
	position:relative;
}
.head{
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	height: 100px;
}

.changeH3{
  padding:0px 5px 12px 5px;
  margin:16px 15px 5px 15px;
  color:#006600;
  font-size:14px;
  font-weight:bold;
  background:url(../images/line.gif) repeat-x bottom;
}

#main {
	 background:#FFFFFF;
	 overflow:hidden;
	 padding:0px 0px 5px 0px;
}

.body{
	width: 100%;
	position: absolute;
	height: 1500px;
}

#mainbody{
	 margin:0px auto;
	 width:1000px;	
	 padding:2px;
}
#mainbody .cols
{overflow:hidden;}
#mainbody .colsleft{
	width:1000px;
	float:left;
	overflow:hidden;
}

#mainbody .cols01{
	width:490px;
	margin:5px 5px 0px 0px;
	float:left;
}



.nav_bar{

	background-color: #005826;
	position: relative;
}
/*footer*/
.home-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #005925;

}

.home-footer p {
  margin: 0 !important;
}

/*header-nav*/
.home-header {
  background-color: #005925;
}

.navbar {
  border: 0;
  padding-top: 5px;
  margin: 0 auto;
  max-width: 1500px;
  background-color: #005925;
}

.navbar-brand img {
  cursor: pointer;
  width: 130px;
  position: relative;
  bottom: 10px;
}

.navbar-brand.text {
  cursor: pointer;
  color: white;
  font-size: 25px;
}
.navbar-brand.text:hover {
  cursor: pointer;
  color: white;
}

.navbar-nav.menu .menu-item a{
  font-size: 17px;
  color: white !important;
  margin-left: 10px;
  transition: border-bottom 0.2s ease-in;
  border-bottom: transparent 3px solid;
  background-color: #005925;
}

.navbar-nav.menu .menu-item a:hover{
  border-bottom: rgb(107, 143, 35) 3px solid;
  background-color: #005925;
}

.navbar-nav.menu .menu-item.active a{
  background-color: #005925 !important;
  border-bottom: rgb(107, 143, 35) 3px solid;
}

.dropdown-toggle {
  background-color: #005925 !important;
  padding-bottom: 0px !important;
}

.navbar-nav.navbar-right .avatar {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: grey;
}

.caret {
  color: white;
}

body {
    background-color:#FBFEFC;
    margin: 0px;
}