body{
	color: #000000;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	position: relative;
	background: url(../images/bodybg.jpg) repeat-x #005825;
}

.en a:active{
    color: #006600;
    text-decoration:none;
}
.en a:link{
    color: #006600;
    text-decoration:none;
}
.en a:visited{
    color: #006600;
    text-decoration:none;
}
.en a:hover{
    color: #006600; 
    text-decoration:underline;
}
H1{font-size:18px;
color:#000000;
font-family:SimHei,  sans-serif;
padding:5px 0px;
margin:0px;
}
H2{
padding:0px 0px 10px 0px;
margin:16px 10px 5px 0px;
color:#006600;
line-height:28px;
font-size:14px;
font-weight:bold;
background:url(../images/line.gif) repeat-x bottom;
}
H2 a:active, H2 a:link, H2 a:visited, H2 a:hover{
color:#006600;
text-decoration:none;
} 
H3{
padding:0px 0px 12px 5px;
margin:16px 15px 5px 15px;
color:#006600;
font-size:14px;
font-weight:bold;
background:url(../images/line.gif) repeat-x bottom;
}
H4{
padding:0px 0px 12px 5px;
margin:16px 15px 0px 15px;
color:#006600;
font-size:14px;
font-weight:bold;
background:url(../images/line.gif) repeat-x bottom;
}
H5{
padding:0px 0px 10px 0px;
margin:0px 0px 0px 0px;
color:#006600;
font-size:16px;
font-weight:bold;
}
H6{
padding:0px;
margin:10px 0px 10px 5px;
font-size:18px;
font-weight:bold;
color:#006600;
}
HR{
border-top:#CCCCCC 1px solid;
border-bottom:0px;
border-left:0px;
border-right:0px;
padding:0px;
margin:2px 0px;
_height:1px;
_margin:-8px 0px;
}
P{margin:0px;padding:0px;}
LI{list-style:none;margin:0px;padding:0px;}
ol,ul{margin:0px;padding:0px;}

/**************************nav*************************/
#nav SPAN{
margin:0px;
}

#nav_en SPAN{
margin:0px;
}


#nav_en .on{
padding:10px 11px 10px 13px;
background:#0C6837;
}
.hidecontent {display:none;}


/**********************news slider***************************************/
.newsdown{
color:#999999;
}
#sysunews01{
padding:0px 15px 0px 0px;
margin:0px 5px 0px 0px;
background:url(../images/title-spe.jpg) right no-repeat;
cursor:pointer;
}
#sysunews02{
cursor:pointer;
}
#sysunews03{
padding:0px 15px 0px 0px;
margin:0px 5px 0px 0px;
background:url(../images/title-spe.jpg) right no-repeat;
cursor:pointer;
}
#sysunews04{
cursor:pointer;
}
/**********************channel********************************************/
.channel_shadow{
padding:0px 0px 5px 0px;
background:url(../images/bo-shadow.jpg) no-repeat bottom center;
}
.channel{
border:1px #CCCCCC solid;
padding:0px;
background:#FFFFFF;
margin:0px;
}
.channel UL{
padding:10px 15px 18px 20px;
}
.channel LI{
padding-left:12px;
background:url(../images/dot.png) no-repeat left;
font-size:12px;
font-weight:normal;
line-height:28px;
}
.channel A:link, .channel A:visited, .channel A:active
{
font-size:12px;
font-weight:normal;
text-decoration:none;
color:#000000;
}
.channel A:hover
{
font-size:12px;
font-weight:normal;
text-decoration:underline;
color: #cc6600; 
}

.newsmore
{
float:right;
padding:0px 10px 0px 10px;
font-weight:normal;
font-size:12px;
}
.newsmore a:active, .newsmore a:link, .newsmore a:visited{
    color: #999999;
    text-decoration:none;
}
.newsmore a:hover{
    color: #999999; 
    text-decoration:underline;
}
.more
{
font-size:12px;
margin-left:10px;
color: #FF9900;
font-weight:normal;
}
.more a:active, .more a:link, .more a:visited{
	font-weight:normal;
    color: #FF9900;
    text-decoration:underline;
}
.more a:hover{
	font-weight:normal;
    color: #FF9900; 
    text-decoration:underline;
}

